<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-9 offset-md-3">
            <h1 class="display-4">Edit the Mark:</h1>
            <hr>
       
            <%- include('../partials/flashMessages') -%>      
            <form  action="/Marks/update" method="post">
                <input type="hidden" name="id" value="<%=event.id%>">
                <div class="form-group">
                    <label for="stdname">Student Name</label>
                    <input type="string" name="stdname" id="stdname"   class="form-control" value="<%= event.stdname%>">
                </div>
                <div class="form-groupEdit">
                    <label for="stdid">Student Id</label>
                    <input type="number" name="stdid" id="stdid"   class="form-control" value="<%= event.stdid%>">
                </div>
                <div class="form-group">
                    <label for="Quiz1">Quiz1</label>
                    <input type="number" name="Quiz1" id="Quiz1"   class="form-control" value="<%= event.Quiz1%>">
                </div>

                <div class="form-group">
                        <label for="Quiz2">Quiz2</label>
                        <input type="number" name="Quiz2" id="Quiz2" class="form-control" value="<%= event.Quiz2%>">
                    </div>

                    <div class="form-group">
                            <label for="MedExam:">Med Exam </label>
                            <input type="number" name="MedExam" id="MedExam"  class="form-control" value="<%= event.MedExam%>">
                        </div>

                        <div class="form-group">
                                <label for="FinalExam">Final Exam</label>
                                <input type="number" name="FinalExam" id="FinalExam"  class="form-control" value="<%= event.FinalExam%>">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> Update</button>
                            </div>
                
            </form>
        </div>
    </div>
</div>

    
<%- include('../partials/footer') -%>