<%- include('../partials/header') -%>
    <%- include('../partials/navbar') -%>
        <div class="bg-image">
      <p class="page-heading">Company Management System</p>

            <div class="center-container">
                <div class="form-container">
                    <h1 class="display-4 text-center text-success">Edit the Calculation Employee work:</h1>
                    <hr>

                    <%- include('../partials/flashMessages') -%>
                        <form action="/Marks/update" method="post">
                            <div class="form-group">
                                <label for="emplname">Employee Name:</label>
                                <input type="string" name="emplname" id="emplname" 
                                    value="<%= event.emplname%>">
                            </div>
                            <div class="form-groupEdit">
                                <label for="compname">Company Name:</label>
                                <input type="text" name="compname" id="compname" value="<%= event.compname%>">
                            </div>
                            <div class="form-group">
                                <label for="dayhours">Employee work hour's day:</label>
                                <input type="number" name="dayhours" id="dayhours" value="<%= event.dayhours%>">
                            </div>

                            <div class="form-group">
                                <label for="weekhours">Employee work hour's week:</label>
                                <input type="number" name="weekhours" id="weekhours" value="<%= event.weekhours%>">
                            </div>
                            <div class="form-group">
                                <button type="submit"> Update</button>
                            </div>

                        </form>
                </div>
            </div>
        </div>


        <%- include('../partials/footer') -%>